.hidden-block{background-color: #aaa;margin-bottom: 1em;}

.inline-style-bold{font-weight: bold}
.inline-style-italic{font-style: italic}
.inline-style-strike{text-decoration: line-through}

.Hrblock{height: 1px;margin:5px 0;border:1px solid #000;}